/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #1a1a1a;
  background: #ddffff;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  top: 0;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  background: linear-gradient(45deg, #003274 0%, #002793 50%, #0084ff 100%);
}

h3 a {
  color: #00ff00;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

ul li a {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 15px;
  color: #1a1a1a;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 53px 0;
}

.logo-heading {
  border-bottom: 8px solid #dddddd;
  line-height: 0.6;
  text-align: center;
}

page {
  margin-top: 15px;
  margin-bottom: 1px;
  margin-left: 15px;
  text-align: center;
  white-space: break-spaces; /*レスポンシブ対応*/
  content: "\A" ;
}

.button {
  margin-left: 23px;
  padding-bottom: 1px;
}

table {
  margin-left: 23px;
}

.logo {
  margin: auto;
  margin-top: 60px;
}

.logo2 {
  margin: auto;
  margin-top: 60px;
}

.logo3 {
  margin: auto;
  margin-top: 60px;
}

.ccna-logo {
  display:flex;
  justify-content: space-evenly;
  width: 250px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ccnp-logo {
  display:flex;
  justify-content: space-evenly;
  width: 250px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 22px;
  padding-bottom: 40px;
}

.ccnp-logo1 {
  display:flex;
  justify-content: space-evenly;
  width: 250px;
  margin-right: 50px;
  margin-left: -30px;
  padding-top: 22px;
  padding-bottom: 40px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0.5rem 2rem;
  background: #0fc9f7;
  background: linear-gradient(45deg, #003274 0%, #002793 50%, #0084ff 100%);
}

.button_line a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  max-width: 220px;
  margin: 0 auto;
  padding: 10px 25px;
  color: #313131;
  background: #eee;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}
.button_line a:hover {
  background: #00d9ff;
  color: #0061c2;
}
.button_line a:before, .button_line a:after {
  position: absolute;
  width: 0;
  height: 0;
  border: 2px solid transparent;
  box-sizing: inherit;
  content: "";
}
.button_line a:hover:before, .button_line a:hover:after {
  width: 100%;
  height: 100%;
}
.button_line a:hover:before {
  border-top-color: #6bb6ff;
  border-right-color: #6bb6ff;
  transition: width 0.05s ease-out, height 0.05s ease-out 0.05s;
}
.button_line a:hover:after {
  border-bottom-color: #6bb6ff;
  border-left-color: #6bb6ff;
  transition: border-color 0s ease-out 0.05s, width 0.05s ease-out 0.05s, height 0.05s ease-out 0.05s;
}

input {
  display: none; /* デフォルトのボタンを非表示にする */
}

.flash {
  padding: 10px 20px;
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  animation: flash 4s infinite;
}

@keyframes flash {
  0%, 100% {
    /* 明るく光るよう影を重ねる */
    box-shadow: 0 0 10px rgb(68, 121, 255), 0 0 20px rgb(53, 128, 248), 0 0 30px rgb(74, 123, 248), 0 0 40px rgb(70, 146, 245), 0 0 70px rgb(6, 151, 254), 0 0 80px rgb(1, 105, 250), 0 0 100px rgba(0, 110, 255, 0.4), 0 0 150px rgba(0, 170, 255, 0.4), 0 0 170px rgba(0, 140, 255, 0.4), 0 0 200px rgba(0, 166, 255, 0.4);
  }
  50% {
    /* 淡く光るよう影を重ねる */
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(186, 233, 255), 0 0 30px rgb(196, 219, 253), 0 0 40px rgb(174, 202, 255);
  }
}

/* フェードアップ */
.fadeUp {
  animation-name:fadeUp;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity: 0;
}
@keyframes fadeUp{
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 遅延時間*/
.delay-time {
  animation-delay: 0.2s;
}
.delay-time2 {
  animation-delay: 0.45s;
}